* {
	box-sizing: border-box;
}

body {
	background-color: #Eff0f0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	border: 2px solid brown;
	padding: 5px;
	background-color: #412315;
	color: white;
}

.container {
	background-color: #EEE1D5;
	margin-bottom: 50px;
	border: 2px solid #EEE1D5;
	border-radius: 40px;
	border-width: 30px;
	width: 40%;
	border-top-width: 25px;
	position: relative;
	top: 20px;
	left: 20px;
}

.item {
	border-bottom: 2px solid #DDB892;
	list-style: none;
}

.item-price {
  text-align: right;
}

.Box-topic {
  position: relative;
  top: -15px;
  left: 10px;
  color: #AB8868;

}

.name-of-order {
	background-color: #EEE1D5;
	margin-bottom: 50px;
	border: 2px solid #EEE1D5;
	border-radius: 30px;
	border-width: 20px;
	width: 25%;
	border-bottom-width: 70px;
	position: relative;
	left: 45%;
	Top: -420px;
}

.name-of-items {
	text-align: left;
	margin-bottom: 10%;
}

.name-box {
	margin-bottom: 20px;
	border-radius: 100px;
	position: absolute;
}

.box-input {
	background-color: #EEE1D5;
  border: 2px #885a2d solid;
  padding: 8px;
  border-radius: 100px;
  width: 100%;
  text-indent: 18px;
  font-size: 18px;
}


.user-input {
	color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  left: 25px;
  top: -7px;
  padding: 0 2px;
  position: absolute;
}

.item-quantity {
	position: relative;
	right: 40px;
	font-size: 11px;
	top: 34px;
}

.item-name {
	position: relative;
	top: 20px;
}

.item-price {
	position: relative;
	down: 50px;
}

.item-options {
	list-style: none;
	font-size: 13px;
	margin-bottom: 20px;
	position: relative;
	right: 38px;
	color: #AB8868;
}

.Payment {
    background-color: #EEE1D5;
	margin-bottom: 50px;
	border: 2px solid #EEE1D5;
	border-radius: 30px;
	border-width: 20px;
	width: 25%;
	border-bottom-width: 70px;
	position: relative;
   top: -450px;
   left: 45%;
}

.card-input {
	 border: 2px #885a2d solid;
	 padding: 8px;
	 border-radius: 30px;
}

.card-number {
	color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  padding: 0 2px;
}

.cc-input {
	margin-top: 20px;
	border: 2px #885a2d solid;
	padding: 8px;
	border-radius: 30px;

}

.cc-number {
  color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  padding: 0 2px;
}

.totals {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: -30%;


}

.total-table {
	width: 100%;
	max-width: 500px;
	margin-bottom: 30px;
}

.total-finals {
	font-weight: bold;
}

.total-table td {
	padding: 10px;
}

.submit {
	width: 100%;
	max-width: 600px;
	padding: 8px;
	border-radius: 30px;
	background-color: #EEE1D5;
	position: relative;
	left: -70px;
	font-weight: bold;
}
.submit:hover {
	color: blue;
}
